* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
.container {
  width: 97%;
  max-width: 1200px;
  margin: 0 auto;
}

/* --------------------------------------
Variable css 
-----------------------------------------*/
:root {
  /* --primary_color: #dd5656; */
  --primary_color: #FF5959;
  --btn-hover: #c52323;
}

/* --------------------------------------
Common css 
-----------------------------------------*/
a {
  text-decoration: none;
  display: inline-block;
}
span {
  display: inline-block;
}
.btn {
  height: 55px;
  padding: 0 35px;
  font-weight: 700;
  font-size: 20px;
  color: #ffff;
  border: none;
  background: var(--primary_color);
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  cursor: pointer;
  background: var(--btn-hover);
}

.title {
  font-size: 40px;
  font-weight: 700;
  color: #000;
  margin-bottom: 20px;
}
.description {
  font-size: 18px;
  color: #1d1d1d;
}
/* --------------------------------------
Banner css 
-----------------------------------------*/

.banner {
  position: relative;
  width: 100%;
  height: 90vh;
  background:linear-gradient(to bottom,rgba(0, 0, 0, 0.274),rgb(0, 0, 0)), url("../Assets/img/donation0.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.banner_content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}
.banner_content h2 {
  font-size: 3rem;
  text-transform: capitalize;
}
.banner_content p {
  font-size: 18px;
  margin: 10px 0px 20px 0px;
  color: #fcf3f3;
}

/* --------------------------------------
Donate css 
-----------------------------------------*/

.donate {
  padding: 50px 0;
}
.donate_content,.update_content {
  text-transform: capitalize;
  text-align: center;
  width: 100%;
  max-width: 700px;
  margin: 0 auto 50px;
}

.donate_counter {
  width: 100%;
  max-width: 800px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto 50px;
}
.donate_counter .counter_item {
  padding: 35px;
  box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.075);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  border: 2px solid transparent;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.counter_item span {
  font-weight: 600;
  font-size: 25px;
  color: #1d1d1db4;
  transition: all 0.2s ease-in-out;
}
.counter_item:hover {
  border: 2px solid var(--primary_color);
  background: #dd565611;
  cursor: pointer;
  box-shadow: 3px 3px 12px #dd56561f;
}
.counter_item:hover span {
  color: var(--primary_color);
}

.other_donate {
  text-align: center;
}
.other_donate form {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.other_donate input {
  background: transparent;
  outline: none;
  border: none;
  border-color: #ddd;
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  border-bottom: 2px solid #ddd;
  font-size: 18px;
  color: #1d1d1db4;
}
.other_donate form ::placeholder {
  color: #1d1d1db4;
  text-transform: capitalize;
}
.other_donate form .btn {
  margin-top: 30px;
}

/* --------------------------------------
Donate Plan css 
-----------------------------------------*/
.donate_plan{
  padding: 50px 0px;
}
.donate_plan_content {
  text-transform: capitalize;
  text-align: center;
  width: 100%;
  max-width: 700px;
  margin: 0 auto 50px;
}
.card_plan {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:10px;
}
.card_plan .card_item {
  padding: 40px 15px;
  border-radius: 5px;
}
.card_plan .card_item:first-child {
  background: rgba(0, 204, 255, 0.13);
}
.card_plan .card_item:nth-child(2) {
  background: rgba(255, 0, 0, 0.116);
}
.card_plan .card_item:last-child {
  background: rgba(255, 166, 0, 0.164);
}
.card_plan .card_item h2 {
  font-size: 22px;
  margin: 15px 0;
}
.card_plan .card_item p {
  font-size: 18px;
}


/* --------------------------------------
How to contribute  css 
-----------------------------------------*/
.contribute{
  padding: 50px 0;
}
.contribute_content,.survive_content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.contribute_text,.contribute_img,.survive_text,.survive_img{
  flex: 1;
}
.text_title{
  font-size: 35px;
  font-weight: 700;
  color: #000;
  margin-bottom: 25px;
}
.text_description-top,.text_description-bottom{
  font-size: 18px;
}
.text_description-bottom{
  margin: 10px 0px 25px 0px;
}
.contribute_img img,.survive_img img{
  height: 100%;
  width: 100%;
  border-radius: 8px;
}
/* --------------------------------------
Survive css 
-----------------------------------------*/
.survive{
  padding: 50px 0;
}





/* --------------------------------------
Update  css 
-----------------------------------------*/
.update{
  padding: 50px 0;
}
.subscribe_area{
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 100px;
  background: #c72a2a6b;
  text-align: center;
}
.subscribe_area form{
  background: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  border-radius: 5px;
  height: 50px;
}
.subscribe_area form input{
  flex: 2;
  border: none;
  background: transparent;
  padding: 5px 8px;
  outline:  none;
  color:rgba(0, 0, 0, 0.74);
  font-size: 18px;
}
.subscribe_area form input::placeholder{
  color:rgba(0, 0, 0, 0.74);
  font-size: 18px;
}
.subscribe_area form .btn{
  border-radius: 0 5px 5px 0;
  height: 50px;
}

/* --------------------------------------
footer  css 
-----------------------------------------*/
footer{
  background: #0B0D17;
  padding: 30px 0;
}
.footer_content{
  text-align: center;
}
.footer_content h2{
  font-size: 36px;
  color: var(--primary_color);
  font-family: 'Lobster', cursive;
  margin-bottom: 24px;
}
.footer_content p{
  font-size: 14px;
  color: #D9DBE1;
}